html,
body {
    height: 100%;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    font-family: sans-serif;
}

h2 {
    color: #aaa;
    font-size: 1.4em;
}

h3 {
    color: #aaa;
    font-size: 1.2em;
}

h4 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}

h5 {
    color: #aaa;
}

input,
textarea {
    text-transform: capitalize;
}

p {
    color: black;
    text-align: left;
    margin-left: 30px;
    font-size: 0.95em;
}

.comm_img {
    border: 5px solid #ddd;
}

.comm_img:hover {
    border: 5px solid #f8f8f8;
}

.header {
    text-decoration-line: none;
    background-color: #eaeaea;
}


.comm_list {
    color: #080808;
    list-style-type: none;
}

.header img {
    float: left;
    margin-left: 10px;
    margin-right: 10px;

}

.header div {
    margin-right: 10px;
    float: left;
}

.logo {
    width: 100px;
    height: 100px;
}

.cat_comm {
    line-height: 1em;
}

.comm_descr {
    border-collapse: collapse;
}

.comm_descr td {
    border: 1px solid #ddd;
}

.charact {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.descr {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.descr:first-letter {
    font-size: 3em;
    color: darkcyan;
}

.price {
    color: #808080;
    font-weight: 500;
    font-size: 1.2em;
}

input[type="text"] {
    color: #541;
    width: 100%;

}

.content {
    flex: 1 0 auto;
}


.footer {
    width: 100%;
    background-color: #eaeaea;
    bottom: 0;
    font-weight: 200;
    font-size: 0.75em;
    flex-shrink: 0;
}

.menu {
    color: #aaa;
    list-style-type: none;
    font-size: 0.75em;
}

.menu li {
    width: 100px;
    height: 20px;
    list-style-type: none;
    border: 1px solid #aaa;
    text-align: center;

}

.menu ul {
    padding-left: 0;
    margin-left: 0
}

.megatable {
    border: 2px solid black;
    border-collapse: collapse;
}

.megatable td {
    border: 1px solid black;
    width: 50px;
    height: 30px;
}

.high {
    height: 100px;
}
/*
.menu li:nth-child(2n) {
    background-color: #eee;
}

.menu li:nth-child(2n-1) a {
    color: #444;
}

.menu li:nth-child(2n) a {
    color: #777;
}
*/

.menu li:first-child {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.menu li:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}


.menu li a:hover {
    color: #55e;

}

.menu li a:active {
    color: lightgreen;
}

.formCaption {
    margin-left: 5px;
    margin-right: 5px;
}

.formInput {
    width: 300px;
}

.email:focus {
    caret-color: yellow;
    color: blue;
    background-color: azure;
}

/*
Решение на footer упер отсюда: https://css-tricks.com/couple-takes-sticky-footer/
*/
