html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #f8f8f8;
    font-family: sans-serif
}

.menu {
    color: #ccc;
    list-style-type: none;
    font-size: 0.75em;
}

h2 {
    color: #aaa;
    font-size: 1.4em;
}

h3 {
    color: #aaa;
    font-size: 1.2em;
}

h4 {
    color: black;
    font-size: 18px;
    font-weight: 400;
    background: #eaeaea;
}

h5 {
    color: #aaa;
}

.comm_list {
    color: #080808;
    list-style-type: none;

}

.cat_comm {
    line-height: 1em;
}

p {
    color: black;
    text-align: left;
    margin-left: 30px;
    font-size: 0.95em;
}

.header {
    text-decoration-line: none;
}

.charact {
    color: #707070;
    font-size: 14px;
    font-style: italic;
    line-height: 16px;
}

.descr {
    color: #484343;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.price {
    color: #808080;
    font-weight: 500;
    font-size: 1.2em;
}

input[type="text"] {
    color: #541;
    width: 50%;

}

.content {
    flex: 1 0 auto;
}


.footer {
    width: 100%;
    background-color: #eaeaea;
    bottom: 0;
    font-weight: 200;
    font-size: 0.75em;
    flex-shrink: 0;
}

/*
Решение на footer упер отсюда: https://css-tricks.com/couple-takes-sticky-footer/
*/
