* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

a {
    text-decoration: none;
}

div {
    /*
    outline: 1px solid green;*/
}

h3 {
    color: #000;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    /* Text style for "Repreh Qui" */
    letter-spacing: 0.16px;

}

.clearfix {
    content: "";
    display: table;
    clear: both;
}

.container {
    min-width: 970px;
    max-width: 1920px;
    margin: 0 auto;
}

.mainheader-overlay {
    position: absolute;
    background-color: rgba(20, 0, 0, 0.4);
    background-position: center;
    height: 725px;
    width: 1920px;
    top: 0;
    left: 0;
}

.mainheader {
    height: 725px;
    background-image: url(img/head.jpg);
    background-position: center;
    background-repeat: no-repeat;
    position: relative
}

.header_line {
    background-image: url(img/head_rect.svg);
    height: 83px;
    top: 13px;
    position: relative;
}

.menuline {
    position: relative;
    top: 159px;
    size: 1px;
}

.content0 {
    position: relative;
    width: 970px;
    margin: 0 auto;
}

.mainheadertext {
    width: 970px;
    margin: 0 auto;
}

.caption {
    left: 0px;
    top: 19px;
    float: left;
    position: relative;
}

.hcaption {
    font-weight: 500;
    color: #ffffff;
    float: left;
}

.cbig {
    font-size: 36px;
    font-weight: 500;
    line-height: 22.36px;
    letter-spacing: 0.77px;
    text-transform: capitalize;
    display: block;
}

.csmall {
    font-size: 15px;
    font-weight: 500;
    line-height: 22.36px;
    text-transform: uppercase;
    letter-spacing: 31px;
    display: block;
}

.linetext-phone {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.36px;
    letter-spacing: 0.36px;
    font-family: 'Roboto Condensed', sans-serif;
    top: 30px;
    left: 330px;
    position: absolute;
    vertical-align: middle;
}

.header_line img {
    vertical-align: middle;
    margin-right: 10px;
}

.header_line div {
    vertical-align: middle;
}

.linetext-email {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.36px;
    letter-spacing: 0.36px;
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    vertical-align: middle;
    top: 30px;
    left: 495px;
    position: absolute;
    vertical-align: middle;
}

.hsearch-box {
    width: 210px;
    height: 40px;
    float: left;
    top: 23px;
    left: 763px;
    position: absolute;
}

.hsearch {
    width: 156px;
    height: 40px;
    border: 0;
    outline: 1px solid white;
    background-color: rgba(0, 0, 0, 0.0);
    vertical-align: middle;
    color: rgba(255, 255, 255, 1.0);
    top: 20px;
    padding: 10px;
}

.hsearch_btn {
    width: 50px;
    height: 40px;
    border: 0;
    outline: 1px solid white;
    background-color: rgba(255, 255, 255, 0.0);
    vertical-align: middle;
    position: absolute;
    z-index: 1;
}

.hsearch_btn:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.hsearch-box img {
    left: 175px;
    top: 10px;
    position: absolute;
}

.hmenu {}

.menu {
    list-style-type: none;
    position: absolute;
    height: 16px;
    font-family: "Roboto Condensed";
    font-size: 17px;
    font-weight: 500;
    line-height: 22.36px;
    top: 85px;
    left: 225px;
    letter-spacing: 0.36px;
}

.menu .hmenuitem {
    display: inline-block;
    padding-left: 10px;
    padding-right: 10px;
}

.hmenulink {
    color: black;
    display: block;
}

.menu .current {
    color: white;
    border-bottom: 3px solid white;
    padding: 25px 11px;
}

.mainheadertext {
    position: relative;
    top: 230px;
}

.small_slogan {
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 48px;
    letter-spacing: 0.18px;
    border-bottom: 3px solid white;
    position: absolute;
    left: 430px;
}

.big_slogan {
    display: block;
    color: #ffffff;
    font-size: 60px;
    font-weight: 500;
    line-height: 48px;
    letter-spacing: 0.6px;
    position: absolute;
    left: 195px;
    top: 120px;
}

.oth_logos {
    position: absolute;
    top: 250px;
    left: 380px;
}

.oth_logo {
    float: left;
    background-image: url(img/round.png);
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
    position: absolute;
    margin: 6px;
}

.fb {
    top: 0;
    left: 0;
    padding-left: 4px;
}

.tw {
    top: 0;
    left: 47px;
    padding-left: 1px;
}

.rss {
    top: 0;
    left: 94px;
    padding-left: 3px;
}

.vk {
    top: 0;
    left: 141px;
    padding-top: 2px;
}

.oth_logo img {
    margin: 13px 11px;
}

.content {
    position: relative;
    width: 970px;
    margin: 0 auto;
    padding: 90px 0px;
}

.about {
    height: 500px;
}

.about_img {
    float: right;
}

.texthead2 {
    color: #f44336;
    font-size: 36px;
    font-weight: 500;
    line-height: 36px;
    margin-bottom: 90px;
}

.about .texthead2 {
    margin-bottom: 35px;
}

.texthead3r,
.texthead3l {
    width: 280px;
    text-align: right;
    height: 18px;
    color: #000000;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.16px;
    margin-bottom: 18px;
}

.texthead3r {
    text-align: left;
    margin-left: auto;
}

.servpic {
    padding-top: 40px;
}

.servpicl {
    padding-top: 35px;
}

.textfield,
.textfield2 {
    color: #999999;
    font-size: 12px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.12px;
    width: 280px;
    text-align: right;
}

.active {
    color: #f44336;
}

.textfield2 {
    margin-left: auto;
    text-align: left
}

.services {
    height: 762px;
    text-align: center;
    background-color: #f7f7f7;
}

.servtext,
.servtext2 {
    width: 440px;
    height: 102px;
    margin-bottom: 70px;
}

.servtext {
    margin-right: 45px;
}

.servtext2 {
    margin-left: 45px;
}

.serv_img,
.serv_img2 {
    background-image: url(img/ellips2.svg);
    float: left;
    position: relative;
    width: 102px;
    height: 102px;
    margin: 0 auto;
    text-align: center;
}

.imgactive {
    background-image: url(img/ellips1.svg);
    float: left;
    position: relative;
    width: 102px;
    height: 102px;
    margin: 0 auto;
    text-align: center;
}

.serv_left {
    float: left;
    text-align: right;
}

.serv_right {
    float: right;
    text-align: left;
}

.serv_img {
    float: right;
}

.serv_img2 {
    float: left;
}


.gallery {
    height: 890px;
    text-align: center;
}

.gallery .content {
    width: 1170px;
}

.galgame {
    float: left;
    width: 270px;
    height: 480px;
    background-color: #f7f7f7;
    margin: 0px 11px;
    position: relative
}

.cptl {
    text-transform: uppercase;
    font-weight: 700;
}

.redbutton {
    width: 130px;
    height: 30px;
    background-color: #f44336;
    position: absolute;
    top: 438px;
    left: 70px;
    color: white;
    border:
}

.testimonial {
    height: 538px;
    background-image: url(/img/testim_bg.jpg);
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
}

.testimonial .content {
    padding: 0;
    position: relative;
    width: 1170px;

}

.t_texthead2 {
    width: 277px;
    height: 39px;
    color: #ffffff;
    font-size: 48px;
    font-weight: 500;
    line-height: 48px;
    position: absolute;
    top: 90px;
    left: 420px;
}

.rectwhl {
    position: absolute;
    left: 0px;
    top: 312px;
}

.rectwhr {
    position: absolute;
    right: 0px;
    top: 312px;
}

.larrow,
.rarrow {
    width: 11px;
    height: 17px;
    color: #ffffff;
    font-family: "Font Awesome";
    font-size: 30px;
    font-weight: 400;
    display: block;
    width: 37px;
    height: 37px;
    position: absolute;
}

.larrow {
    left: 0px;
    top: 314px;
}

.rarrow {
    right: 0px;
    top: 314px;
}

.quote {
    position: absolute;
    top: 215px;
    left: 545px;
}

.testim_text {
    width: 935px;
    height: 136px;
    color: #ffffff;
    font-family: "Roboto Condensed";
    font-size: 14px;
    font-weight: 300;
    top: 300px;
    left: 115px;
    margin: auto;
    position: absolute;
    line-height: 1.8
}


.news {
    height: 888px;
}

.news .content {
    width: 1170px;
}

.latest_news,
.fevents {
    width: 570px;
    border: 1px solid red;
}

.latest_news {
    float: left;
}

.fevents {
    float: right;
}

.newsblock {
    height: 140px;
}

.date {
    height: 140px;
    width: 100px;
    background-image: url(/img/news_rect.svg);
    background-repeat: no-repeat;
    float: left;
    margin-left: 21px;
    text-align: center;

}

.text {
    width: 310px;
    padding-top: 24px;
    padding-left: 67px;
}

.nday {
    width: 29px;
    height: 24px;
    color: #000000;
    font-family: Poppins;
    font-size: 32px;
    font-weight: 500;
    line-height: 48px;
    text-align: center;
    margin: auto;
    margin-top: 28px;
}

.nmonth {
    width: 34px;
    height: 12px;
    color: #9e9e9e;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 500;
    line-height: 48px;
    margin: auto;
    margin-top: 3px;
}

.nyear {
    width: 28px;
    height: 11px;
    color: #9e9e9e;
    font-family: "Poppins - Medium Italic";
    font-size: 13px;
    font-weight: 400;
    line-height: 48px;
    margin: auto;
    margin-top: 8px;
}


.team {
    height: 785px;
    background-color: #f7f7f7;
}

.subscribe {
    height: 313px;
    background-image: url(img/head.jpg);
    background-position-y: 400px;
    position: relative;
}

.subscribe-overlay {
    position: absolute;
    background-color: rgba(20, 0, 0, 0.4);
    background-position: center;
    height: 313px;
    width: 1920px;
    top: 0;
    left: 0;
}

.contact {
    height: 1111px;
}

.footer {
    height: 71px;
    background-color: #000;
    background-position: bottom;
    background-repeat: no-repeat;
}

.copyright {
    width: 315px;
    height: 16px;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 22px;
    letter-spacing: 0.16px;
    margin: 0 auto;
    padding: 28px;
    font-family: "Arial Narrow"
}
