* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
}

p {
    font-family: 'Roboto Condensed', sans-serif;
}

div {
    outline: 1px solid green;
}

.clearfix:after {
    content: '';
    display: table;
    clear: both;
}

.container {
    background-color: #aaa;
    width: 1920px;
}

.mainheader {
    width: 1920px;
    height: 725px;
    background-color: black;
    background-image: url(img/head.jpg);
}

.header {
    width: 1150px;
    margin: 0 auto
}

.mainheadertext {
    width: 1150px;
    margin: 0 auto
}

.about {}

.services {
    width: 1150px;
    margin: 0 auto
}

.testimonial {
    width: 1150px;
    margin: 0 auto
}

.news {
    width: 1150px;
    margin: 0 auto
}

.team {
    width: 1150px;
    margin: 0 auto
}

.subscribe {
    width: 1150px;
    margin: 0 auto
}

.contact {
    width: 1150px;
    margin: 0 auto
}

.footer {
    width: 1150px;
    margin: 0 auto
}

.header_line {
    background-image: url(img/head_rect.svg);
    background-color: #000000;
    opacity: 0.5;
    width: 1920px;
    height: 83px;
    margin-top: 13px;
    float: left;
    position: relative;
}

.caption {
    left: 0px;
    top: 19px;
    float: left;
    position: relative;
}

.hcaption {
    font-weight: 500;
    color: #ffffff;
    float: left;
}

.cbig {
    font-size: 36px;
    font-weight: 500;
    line-height: 22.36px;
    letter-spacing: 0.77px;
    text-transform: capitalize;
    display: block;
}

.csmall {
    font-size: 15px;
    font-weight: 500;
    line-height: 22.36px;
    text-transform: uppercase;
    letter-spacing: 31px;
    display: block;
}

.linetext-phone {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.36px;
    letter-spacing: 0.36px;
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    vertical-align: middle;
    top: 28px;
    position: absolute;
    left: 800px;
}

.hphone {
    vertical-align: middle;
}

.header_line img {
    vertical-align: middle;
    margin-right: 10px;
}

.header_line div {
    vertical-align: middle;
}

.linetext-email {
    color: #ffffff;
    font-size: 17px;
    font-weight: 400;
    line-height: 22.36px;
    letter-spacing: 0.36px;
    font-family: 'Roboto Condensed', sans-serif;
    display: block;
    vertical-align: middle;
    top: 30px;
    position: absolute;
    left: 970px;
}

.hsearch-box {
    width: 210px;
    height: 40px;
    float: left;
    top: 21px;
    position: relative;
    left: 730px;
}

.hsearch {
    width: 156px;
    height: 40px;
    border: 0;
    outline: 1px solid white;
    background-color: rgba(0, 0, 0, 0.0);
    vertical-align: middle;
    color: rgba(255, 255, 255, 1.0);
    top: 20px;
}

.hsearch_btn {
    width: 50px;
    height: 40px;
    border: 0;
    outline: 1px solid white;
    background-color: rgba(255, 255, 255, 0.0);
    vertical-align: middle;
}

.hsearch-box img {
    position: absolute;
    left: 175px;
    top: 10px;
    display: block;
}


.menu {
    display: inline-block;
}

.hmenuitem {
    list-style-type: none;
}